*.jl.*.cov
*.jl.cov
*.jl.mem
/.vscode/
/docs/build/
Manifest.toml

src/validation/ball_atomtyping_validation/.idea/

src/validation/ball_atomtyping_validation/build/ball_atomtyping_validation

src/validation/ball_atomtyping_validation/build/cmake_install.cmake

src/validation/ball_atomtyping_validation/build/CMakeCache.txt

src/validation/ball_atomtyping_validation/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake

src/validation/ball_atomtyping_validation/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin

src/validation/ball_atomtyping_validation/build/CMakeFiles/3.10.2/CMakeSystem.cmake

src/validation/ball_atomtyping_validation/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out

src/validation/ball_atomtyping_validation/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/build.make

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/cmake_clean.cmake

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/CXX.includecache

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/depend.internal

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/depend.make

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/DependInfo.cmake

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/flags.make

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/link.txt

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/main.cpp.o

src/validation/ball_atomtyping_validation/build/CMakeFiles/ball_atomtyping_validation.dir/progress.make

src/validation/ball_atomtyping_validation/build/CMakeFiles/cmake.check_cache

src/validation/ball_atomtyping_validation/build/CMakeFiles/CMakeDirectoryInformation.cmake

src/validation/ball_atomtyping_validation/build/CMakeFiles/CMakeOutput.log

src/validation/ball_atomtyping_validation/build/CMakeFiles/feature_tests.bin

src/validation/ball_atomtyping_validation/build/CMakeFiles/feature_tests.cxx

src/validation/ball_atomtyping_validation/build/CMakeFiles/Makefile.cmake

src/validation/ball_atomtyping_validation/build/CMakeFiles/Makefile2

src/validation/ball_atomtyping_validation/build/CMakeFiles/progress.marks

src/validation/ball_atomtyping_validation/build/CMakeFiles/TargetDirectories.txt

src/validation/ball_atomtyping_validation/build/Makefile
